.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

#create_post_form {
  border: 2px solid black;
  text-align: center;  
  /*margin-left: 200px;*/

}

h1 {
  text-align: center; 
}
