
<h1>Create Post</h1>
<form id="create_post_form" name="create_post_form" action="/create_post" method="post">
  Title:  
  <input type="text" name="title">
  Post Link:
  <input type="text" name="post_link">
  <br>
  <input type="submit" name="submit">


</form>
